// Import Custom fonts
@font-face {
  font-family: "Fabrik-Bold";
  src: url(/assets/fonts/Fabrik-Bold.otf) format("truetype");
}

@font-face {
  font-family: "Fabrik";
  src: url(/assets/fonts/Fabrik.otf) format("truetype");
}

@font-face {
  font-family: "MaisonNeue";
  src: url(/assets/fonts/MaisonNeue-Demi.otf) format("truetype");
}

// Define fonts for body and headers
$body-font: "MaisonNeue", "Helvetica", "sans-serif";
$headers-font: "Fabrik-Bold", "Helvetica", "sans-serif";



