body {
  -webkit-font-smoothing : antialiased;
}

a { 
  color:inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  color:$gray;
}

.marged-top {
  margin-top: 5vh;
}

.text-cta {
  font-family: $body-font;
  font-size: 13px;
  color: $red;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid $red;
  border-radius: $border-radius-base;
  padding:1rem;
}

.avatar-pics {
  border-radius: 50%;
  margin-top: 10px;
}

.primary-text {
  color: $red !important;
}

.light {
  font-family: "Fabrik";
}

.picto-input {
  padding-right: 8px;
  border-right: 1px solid black;
}