.results {
  margin-top: 15vh;
  margin-bottom: 5vh;
}

.underline {
  height:1px;
  background:$medium-gray;
}

.content {
  display: flex;
}

.cards-container {
  padding: 40px;
  flex: 1 0 450px;
}

#map {
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}