.input {
  margin-top: 2vh;
  margin-bottom: 2vh;
  height:4rem;
  background: $white;
  box-shadow: inset 0 -1px 3px 0 rgba(0,0,0,0.10);
  border-radius: $border-radius-base;
}



.show-image {
  width:100%;
  box-shadow: 0 2px 24px 0 rgba(206,221,251,0.50);
  border-radius: 3px;
}


.show-cta {
  margin-top: 24px;
  height:40px;
  width:100%;
  background-image: linear-gradient(-141deg, #EB7549 0%, #D44F4A 100%);
  display:flex;
  align-items: center;
  justify-content: center;
}

.show-cta-outline {
  margin-top: 24px;
  height:40px;
  width:100%;
 border: 1px solid $red;
  display:flex;
  align-items: center;
  justify-content: center;
}

.cta-input {
  text-transform:uppercase;
  font-family: MaisonNeue-Medium;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 0 1px 2px $red;
  padding-top:5px;
  text-align:right;
    transition: 200ms cubic-bezier(0.465, 0.183, 0.153, 0.946);
}

.cta-input:hover{
  color:$white !important;
}



.description {
  margin-top:24px;
}
