<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.helpmusicians.org.uk/assets/images/hmd_banner_option_1.jpg');">
  <div class="banner-content">
    <h1>La müzik à portée de main</h1>
    <h3>Louez ou proposez des instruments dans votre ville</h3>

    <form class="form-inline" action="<%= instruments_path %>">
    <div class="form-group mb-2">
      <div class="dropdown">

        <button class="btn btn-default dropdown-toggle form-input text-input" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> Choisissez un instrument
        <i class="fa fa-music"></i>
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <input type="text" name="city" class="form-control form-input text-input" placeholder="Tapez une ville">
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <input type="password" class="form-control form-input text-input" id="inputPassword2" placeholder="Début">
    </div>

    <div class="form-group mx-sm-3 mb-2">
      <input type="password" class="form-control form-input text-input" id="inputPassword2" placeholder="Fin">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Rechercher</button>
  </form>
  </div>
</div>
<div class="container">
  <div class="row text-center section-home marged-top">
    <div class="col-md-4">
      <img src="https://cdn.lyft.com/brochure/drive-for-lyft-tip.f57a8a46.svg" width="100" alt="">
      <h2>Trouvez</h2>
      <hr>
      <p>Les instruments qui vous intéressent, près de chez vous.</p>
    </div>

    <div class="col-md-4">
      <img src="https://cdn.lyft.com/brochure/drive-for-lyft-tip.f57a8a46.svg" width="100" alt="">
      <h2>Louez</h2>
      <hr>
      <p>Louez votre matériel en deux clics. Un jour, une semaine, un mois, à vous de choisir !</p>
    </div>

    <div class="col-md-4">
      <img src="https://cdn.lyft.com/brochure/drive-for-lyft-tip.f57a8a46.svg" width="100" alt="">
      <h2>Rencontrez</h2>
      <hr>
      <p> Des musiciens, heureux de faire partager leur passion.</p>
    </div>
  </div>
</div>
<div class="section-home color-slide"></div>
