<!-- Bonjour anatole voici les spec de la card -->

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 text-center">
      
      <div class="card">
        <!-- Image de l'utilisateur -->
        <img src="https://kitt.lewagon.com/placeholder/cities/shanghai" alt="" class="card-image">
        <div class="card-description">

          <!-- User name -->
          <h6 class="card-user-name">Walter White</h6>
          <!-- Name of annonce -->
          <h5 class="card-user-instrument">Guitare Ibanez</h5>
          <!-- Résumé de l'annonce peut-être mettre une limite de caractère -->
          <p class="card-resume">C’est une super guitare je vous conseille de me la louer parceque j’ai besoin d’argent.</p>

        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-sm-2 card-price">
            <!-- Price de l'annonce -->
            5€
            </div>
          
            <div class="col-sm-10 card-see-more">
            En voir plus <i class="fa fa-arrow-right"></i>
            </div>
          </div>
        </div>
      
      <!-- Image de l'utilisateur -->
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      
      <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>