.sign-container {
  width: 350px;
  background:$white;
  box-shadow: 0 2px 24px 0 rgba(0,0,0,0.70);
  border-radius: 4px;
  padding:24px;
}

.control-label {
  display:none;
}


.button-cta {


  background-image: linear-gradient(-141deg, #EB7549 0%, #D44F4A 100%);
  box-shadow: inset 0 -1px 3px 0 rgba(0,0,0,0.10);
  border-radius: $border-radius-base;
  text-transform:uppercase;
  font-family: MaisonNeue-Medium;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 2px;
  text-shadow: 0 1px 2px #0410AA;
}

.button-cta-sign {
  width:100%;
  height:4rem;
}

.help-block {
  padding-top: 5px;
}